
<ion-content padding>
 <!--   <button (click)="dismiss()" style="float:right; background: transparent;color: white;font-size: 20px;">
        <ion-icon ios="ios-close" md="md-close"></ion-icon>
    </button>--> 
    <ion-row *ngIf="trfe">
        <ion-col class="mid-bg" col-11>
            <h1 style="margin-top:10%; color:#095C9B !important;">{{trfe.plot_details}}</h1>
            <ion-grid>
                <ion-row class="row-head" *ngIf="trfe">
                   
                    <ion-col col-3>
                      {{trfe.plot_name}}
                    </ion-col>
                    <ion-col col-2>
                        {{trfe.crop}}
                        
                   
                    
                    </ion-col>
                    <ion-col col-2>
                        {{trfe.variety}}
                    </ion-col>
                    <ion-col col-2>
                        {{trfe.Total_area}}
                    </ion-col> 
                    <ion-col col-2>
                    </ion-col>
                    <ion-col col-1>
                        
                    </ion-col>
                </ion-row> 
                <ion-row *ngFor="let plot of tr;let i=index;" >
                   
                    <ion-col class="col-border" col-3>
                        {{plot.Map_name}}
                    </ion-col>
                    <ion-col class="col-border" col-2>
                        {{plot.Crop_name}}
                    </ion-col>
                    <ion-col class="col-border" col-2>
                        {{plot.Variety_Name}}
                    </ion-col>
                    <ion-col class="col-border" col-2>
                        <span>{{plot.Size}}</span>
                        <br>
                      <span>{{plot.Plot_District}}</span>  

                    </ion-col> 
                    <ion-col class="col-border" col-1>
                        <button ion-button class="view-btn" style="margin-top:5px;" (click)="crops(plot,i)" clear>
                            <b>  {{trfe.See}}</b>
                        </button>
                    </ion-col>
                    <ion-col class="col-border" col-2>
                            <button ion-button class="view-btn" style="margin-top:5px;" (click)="presentPrompt(plot,i)" clear>
                        <b>{{trfe.update}}</b>
                            </button>
                            <br>
                            <button ion-button class="view-btn" style="margin-top:5px;" (click)="presentConfirm2(plot,i)" clear>
                           <b> {{trfe.delete}}</b>
                                </button>
                            
                        </ion-col>
                    
                </ion-row>  
            </ion-grid>
            <button ion-button class="add-button2"  style="margin-top:5px;" (click)="add_plot()" clear>
                {{trfe.Add}}  
            </button>
            <button class="add-button2" (click)="dismiss()" ion-button>{{trfe.Dismiss}}</button>
        </ion-col>
    </ion-row>
</ion-content>
